$primary-color-dark: #212121;
$secondary-color-dark: #212121;
$text-color-dark: #f5f5f5;
$background-color-dark: #161b24;
$background-color-lighter-dark: #1f2634;
$background-color-lighter-dark-hover: rgb(32, 40, 53);
$contrast-background-color-dark: #f5f5f5;

:root[data-theme='theme-dark'] {
	--background-color: #{$background-color-dark};
	--background-color-lighter: #{$background-color-lighter-dark};
	--background-color-lighter-hover: #{$background-color-lighter-dark-hover};
	--contrast-background-color: #{$contrast-background-color-dark};
	--primary-color: #{$primary-color-dark};
	--secondary-color: #{$secondary-color-dark};
	--text-color: #{$text-color-dark};
}
