$primary-color-light: #f5f5f5;
$secondary-color-light: #f5f5f5;
$text-color-light: #161b24;
$text-color-lower-light: #d1ab49;

$background-color-light: #f5f5f5;
$background-color-lighter-light: #ffffff;
$background-color-border-lighter-light: #eaeaea;
$background-color-lighter-light-hover: #fcfbfa;
$contrast-background-color-light: #161b24;

:root[data-theme='theme-light'] {
	--background-color: #{$background-color-light};
	--background-color-lighter: #{$background-color-lighter-light};
	--background-color-border-lighter: #{$background-color-border-lighter-light};
	--background-color-lighter-hover: #{$background-color-lighter-light-hover};
	--contrast-background-color: #{$contrast-background-color-light};
	--primary-color: #{$primary-color-light};
	--secondary-color: #{$secondary-color-light};
	--text-color: #{$text-color-light};
	--text-color-lower: #{$text-color-lower-light};
}
