@import './styles/colors';
@import './styles/const';

.app {
	position: relative;
	z-index: 2;
	background-color: var(--background-color);
	color: var(--text-color);
	transition: all var(--transition-duration) ease-in-out;
}

main,
header {
	max-width: 1024px;
	padding: 1.5rem;
	margin: auto;
}

.tempStyle {
	color: var(--text-color);
}
