@import '../../../styles/mixins';

.NavigationList {
	@include flex(column, flex-start, flex-start);
	gap: 1rem;

	list-style: none;
}

.NavigationItem {
	background-color: var(--background-color-lighter);
	border-radius: 0.5rem;
	border: 1px solid #eaeaea;
	padding: 0.6rem 1rem;
	width: 100%;
	cursor: pointer;
	min-width: 150px;

	font-weight: 600;

	transition: all var(--transition-duration) ease-in-out;

	&:hover {
		background-color: var(--background-color-lighter-hover);

		border-color: #eaeaea;
	}
}
