@import '../../../styles/mixins';

.NavigationList {
	position: relative;
	@include flex(column, flex-start, flex-start);
	gap: 1rem;
	list-style: none;
	width: 100%;
}

.NavigationItem {
	width: 100%;
	min-width: 150px;
	cursor: pointer;
	padding: 0.6rem 1rem;
	background-color: var(--background-color-lighter);
	border-radius: 0.5rem;
	border: 1px solid var(--background-color-border-lighter);

	font-weight: 600;
	transition: background-color var(--transition-duration) ease-in-out, border var(--transition-duration) ease-in-out;

	&:hover {
		background-color: var(--background-color-lighter-hover);
	}
}
